<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Browser</title>
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
   <div class="panel panel-default mainpanel">
           <div class="panel-heading">
                   File Browser
                   <span class="up">
                    <i class="fa fa-level-up"></i> Up
                   </span> 
           </div>
      <div class="panel-body">
              <table class="linksholder">
              </table>
      </div>

  </div> 
    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!--script src="/js/vendor/jquery.dataTables.min.js"></script-->
    <script src="/js/app.js"></script>
  </body>
</html>