<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subnodes Dashboard</title>
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <header>
      <div>
        Subnodes Dashboard
      </div>
    </header>
    <div id="welcome">
      <h2>Hello! This is your Subnodes dashboard. Coming soon: You will be able to configure your Access Point, Mesh Point, or scan for available Subnodes modules that can be installed, such as a networked chat room or file sharing client.</h2>
    </div>
    <!-- <div id="welcome">
      <h2>Hello! This is your Subnodes dashboard. From here, you can configure your Access Point, Mesh Point, or scan for available Subnodes modules that can be installed, such as a networked chat room or file sharing client.</h2>
      <button id="loadModules" type="button" class="btn btn-lg btn-default">Check for Modules</button>
    </div>
    <div id="ap">
      <h3>Access Point Configuration</h3>
      <p>Access Point SSID: subnodes</p>
      <p>Set Password: ••••••••</p>
      <p>Connected users...</p>
    </div>
    <div id="mp">
      <h3>Mesh Point Configurations</h3>
      <p>Mesh SSID: meshnode</p>
      <p>Mesh neighbors...</p>
    </div>
    <div id="directory" class="panel">
      <div>
        <table id="dataTable">
        </table>
      </div>
      <div class="error"></div>
      <button type="submit" class="btn btn-success">Refresh</button>
    </div> -->
    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>