body { color: black!important;}

#create-server,
#create-client,
#directory {
	display: none;
}

.panel { min-height:400px;}

#dataTable ul { list-style-type: none; }

#dataTable li { font-size: 16px; line-height: 1.5em;}

#dataTable li .fa { margin-right: 5px; }

#dataTable a { color : black;}

#dataTable .fa { color: black;}

.dataTables_info { margin-top: 10px; background: ghostwhite; }

.up { margin-left: 20px; border:solid 1px black; cursor:pointer; width:100px; padding-left: 10px; padding-right:10px; }